#######################################################################################
### See the documentation for more info: https://github.com/bryanchriswhite/.backup ###
#######################################################################################

### User defined variables
### NOTE: set these for your personal environment

### Output directory

BACKUP_OUTPUT_DIR=$HOME/.backup


### Output tarball filename

BACKUP_OUTPUT_FILE=.keys_backup.tar

### Space delimited list of gpg recipients (email addresses or key IDs) used for asymmetric encryption

RECIPIENTS='bryanchriswhite@gmail.com'


### List of dirs/files to be asymmetrically encrypted with gpg

ASYM_INPUTS='
.ssh
.aws
.password-store
'


### List of dirs/files to be symmetrically encrypted with gpg (i.e. using a passphrase [you will be prompted for each])

SYM_INPUTS='
.gnupg
'
