#######################################################################################
### See the documentation for more info: https://github.com/bryanchriswhite/.backup ###
#######################################################################################

### User defined variables
### NOTE: set these for your personal environment

### Output directory

BACKUP_OUTPUT_DIR=$HOME/.backup/output


### Output tarball filename

BACKUP_OUTPUT_FILE=.keys_backup.tar

### Space delimited list of gpg recipients (email addresses or key IDs) used for asymmetric encryption

RECIPIENTS='bryanchriswhite@gmail.com bryan@liminal.ly'


### Email address (or key ID) of private key used to sign asymmetrically and symmetrically encrypted outputs

SIGNEE='bryanchriswhite@gmail.com'


### List of dirs/files to be asymmetrically encrypted with gpg
# NOTE: use of double quotes is required for bash variable interpolation

ASYM_INPUTS="
$HOME/.ssh
$HOME/.aws
$HOME/.password-store
"


### List of dirs/files to be symmetrically encrypted with gpg (i.e. using a passphrase [you will be prompted for each])
# NOTE: use of double quotes is required for bash variable interpolation

SYM_INPUTS="
$HOME/.gnupg
"
